$orange: #f16152;
$green: #65c6bc;
$purple: #763acc;
$pink: #ed1e79;

$red: #c0272d;

$gray: #666666;
$dark-gray: #4d4d4d;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

// Default DOM tags
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    color: $dark-gray;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    min-width: 100vw;
    padding-top: 80px;
    width: 100%;
}

section .container {
    min-height: 90vh;
}

button {
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
        opacity: 0.3;
    }
}

// My tags
.container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 10px;
}

.container-fluid {
    width: 100%;
    display: flex;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.purple {
    color: $purple;
}

.red {
    color: $red;
}

// Header
header {
    padding: 20px 0;
    position: fixed;
    margin: auto;
    width: 100%;
    padding-top: 80px;
    transition: all 0.3s ease;
    z-index: 1001;
    top: 0;
    left: 0;
    .hamburger {
        display: none;
    }
    &.scroll {
        background-color: white;
        padding-top: 20px;
        .container {
            #logo {
                #logo-codexp {
                    display: block;
                    opacity: 1;
                }
                #logo-senai {
                    display: none;
                    opacity: 0;
                }
            }
        }
    }
    .container {
        justify-content: space-between;
        align-items: center;
        #logo {
            width: 100%;
            max-width: 200px;
            svg {
                max-width: 180px;
            }
            #logo-senai {
                opacity: 1;
                transition: all 0.3s ease;
            }
            #logo-codexp {
                display: none;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        nav {
            width: 70%;
            ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                li {
                    padding-left: 10px; 
                    a {
                        padding-bottom: 8px;
                        color: $dark-gray;
                        &:hover {
                            color: $pink;
                        }
                        &.active {
                            color: $pink;
                            border-bottom: 3px solid $pink;
                        }
                    }
                }
            }
        }
    }
}

main {
    width: 100vw;
    #sobre {
        background-image: url('../images/bg-1.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        .container {
            justify-content: center;
            align-items: center;
        }
        .the-code {
            justify-content: space-between;
            position: relative;
            img#c1 {
                width: 60%;
                position: absolute;
                right: -20%;
            }
            #about {
                max-width: 400px;
                color: $gray;
                font-size: 20px;
                img {
                    width: 100%;
                }
            }
        }
        .top {
            flex-direction: column;
            img {
                max-width: 80%;
                margin-bottom: 80px;
                width: 100%;
            }
            p {
                padding: 10px 0;
                margin: 0;
                width: 100%;
                word-wrap: break-word;
                text-align: center;
            }
            .jp {
                width: 100%;
            }
        }
    }

    .edicao {
        color: white;
        background-color: $purple;
        padding-top: 0;
        .container {
            min-height: 60vh;
        }
        .container-fluid {
            flex-direction: column;
            background-image: url('../images/bg-2.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: top center;
        }
        .sobre-edicao {
            padding-top: 200px;
            width: 100%;
            .top-details {
                width: 100%;
                .top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    h2 {
                        font-size: 42px;
                        padding: 0;
                        margin: 0;
                        letter-spacing: 15px;
                    }
                    p {
                        font-size: 22px;
                    }
                    .jp {
                        max-width: 364px;
                        max-height: 125px;
                        width: 100%;
                        padding-right: 10px;
                    }
                }
                .details {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 10px;
                    .block {
                        min-width: 50%;
                        .details-about {
                            border-left: 1px solid $green;
                            padding-left: 10px;
                            margin: 50px 0;
                            span {
                                color: $green;
                                text-transform: uppercase;
                                font-size: 14px;
                            }
                            p {
                                font-size: 26px;
                                padding: 10px 0 0 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 100px 0;
            p {
                max-width: 500px;
                font-size: 18px;
            }
            .content-about {
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 120px 0;
                li {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    padding: 20px 10px;
                    p {
                        font-size: 14px;
                        padding: 5px 0;
                    }
                    img {
                        max-width: 120px;
                        max-height: 90px;
                    }
                }
            }
        }
        .quantity {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img {
                max-width: 261px;
                max-height: 220px;
            }
            div {
                padding-left: 40px;
                h3 {
                    font-size: 4vw;
                    padding: 0;
                    margin: 0;
                    letter-spacing: 5px;
                    font-weight: bold;
                }
                h4 {
                    color: $green;
                    padding: 5px 0;
                    margin: 0;
                    font-size: 1vw;
                    letter-spacing: 5px;
                    font-weight: normal;
                }
            }
        }
        .profile-partners {
            background-image: url('../images/bg-3.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 150px;
            .profile {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                padding: 150px 0;
                img {
                    max-height: 500px;
                    padding: 10px;
                    width: 100%;
                    max-width: 500px;
                }
                .profile-details {
                    padding: 0 50px;
                    max-width: 500px;
                    h3 {
                        font-weight: normal;
                        letter-spacing: 5px;
                        font-size: 16px;
                    }
                    ul li{
                        font-size: 18px;
                        padding: 10px 0;
                    }
                    .profile-details-2 {
                        p {
                            font-size: 18px;
                            max-width: 300px;
                        }
                    }
                }
            }
            .partners {
                display: flex;
                flex-direction: column;
                h3 {
                    font-weight: normal;
                    letter-spacing: 3px;
                    font-size: 14px;
                }
                .partners-list {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    div {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        padding: 20px 0;
                        img {
                            align-self: center;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
    #projetos {
        padding: 0;
        .container {
            padding: 120px 0;
            min-height: auto;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 32px;
                letter-spacing: 10px;
                padding: 20px 0;
            }
            .slider {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .slider-content {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .content {
                        min-width: 80%;
                        display: flex;
                        padding: 0 10px;
                    }
                }
                .thumbs {
                    padding: 20px 0;
                    width: 80%;
                    height: 150px;
                    display: flex;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    li {
                        min-width: 180px;
                        height: 100px;
                        display: inline-block;
                        content: ' ';
                        background-color: $purple;
                        margin: 0 10px;
                        font-size: 18px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 10px;
                        .number {
                            color: $green;
                            font-weight: bold;
                        }
                        span {
                            color: white;
                            font-weight: bold;
                        }
                        &.active {
                            background-color: $pink;
                        }
                    }
                }
            }
        }
    }
    #depoimentos {
        background-color: $orange;
        padding: 0;
        min-height: 50vh;
        .container {
            flex-direction: column;
            color: white;
            justify-content: center;
            min-height: unset;
            padding: 150px 0;
            overflow-x: hidden;
            width: 100vw;
            h2 {
                text-align: center;
                padding: 10px 0;
            }
            .slider {
                display: flex;
                flex-direction: column;
                .slider-content {
                    display: flex;
                    .content {
                        display: flex;
                        padding: 0 60px;
                        img {
                            max-height: 30px;
                            min-height: 30px;
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            padding: 0 20px;
                            blockquote {
                                font-size: 24px;
                                letter-spacing: 4px;
                                padding: 20px 0;
                                margin: 0;
                                min-height: 120px;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
                .slides {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    padding-top: 50px;
                    li {
                        display: block;
                        content: ' ';
                        width: 10px;
                        height: 10px;
                        background-color: white;
                        padding: 5px;
                        border-radius: 50px;
                        margin: 0 10px;
                        &.active {
                            background-color: $green;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    #edicao-1 {
        background-color: unset;
        color: $dark-gray;
        .container-fluid {
            background-image: url('../images/bg-4.jpg')
        }
        .details {
            .block {
                .details-about {
                    span {
                        color: $orange;
                    }
                }
            }
        }
        .profile-partners {
            background-image: none;
            .profile {
                
            }
        }
    }
    #image {
        img {
            width: 100vw;
        }
    }
    #senaisp {
        background-image: url('../images/senai.jpg');
        background-repeat: no-repeat;
        .container {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            .logo-senai {
                max-width: 400px;
                margin: 50px 0;
            }
            .red {
                color: $red;
            }
            p {
                max-width: 750px;
                line-height: 32px;
                color: $gray;
                a{
                    color: #000;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px 20px;
    }
    section .container{
        min-height: 50vh;
    }
    .the-code {
        img#c1 {
            display: none;
        }
    }
    #sobre {
        padding-top: 180px;
    }
    header {
        padding: 5px 0;
        &.scroll {
            padding-top: 0px;
        }
        .hamburger {
            display: block;
            z-index: 1005;
        }
        nav {
            position: absolute;
            right: -75%;
            height: 100vh;
            width: 75%;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,255,255, 0.95);
            box-shadow: -5px -5px 5px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            will-change: right;
            ul {
                flex-direction: column;
                li {
                    font-size: 26px;
                    margin: 15px 0;
                }
            }
            &.active {
                right: 0;
            }
        }
    }
    #depoimentos {
        .container {
            .slider {
                .slider-content {
                    .content {
                        padding: 0!important;
                        img {
                            display: none;
                        }
                        div {
                            blockquote {
                                font-size: 24px;
                                letter-spacing: 4px;
                                padding: 0 0;
                                margin: 0;
                                min-height: 120px;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
                .slides {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    padding-top: 50px;
                    li {
                        display: block;
                        content: ' ';
                        width: 10px;
                        height: 10px;
                        background-color: white;
                        padding: 5px;
                        border-radius: 50px;
                        margin: 0 10px;
                        &.active {
                            background-color: $green;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    main .edicao .quantity {
        flex-direction: column;
        div {
            h3 {
                font-size: 48px;
            }
            h4 {
                font-size: 24px;
            }
        }
    }
    .arrow img{
        min-width: 20px;
        width: 100%;
    }
}